body {
    background-color: $site-background;
    margin: 0;
}

@mixin content-heading {
    color: $body-text-tonedown;
    text-transform: uppercase;
    @include heading-font;
    font-size: 260%;
    margin: 82px 0 20px;
    text-align: left;
}

a {
    color: $brand-color;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    max-width: 960px;
    width: 100%;
    height: auto;
}

p {
    margin: 1.3em 0;
}

.parallax-heading {
    min-height: 350px;
    position: relative;
    text-align: center;

    h1, h2, h3 {
        @include content-heading;
        @include image-heading-font;
        color: white;
        max-width: 960px;
        width: 100%;
        margin: 0 auto;
        height: 100%;
        display: inline-block;
        text-align: left;
        padding-top: 250px;
        font-size: 360%;
        text-shadow: rgba(0, 0, 0, 0.9) 4px 4px 6px;
    }
}

.content-body {
    max-width: 960px;
    @include body-font;
    color: $body-text-tonedown;
    margin: 60px auto;
    line-height: 150%;
    text-align: justify;
    font-size: 120%;
    
    h1 {
        @include content-heading;
        font-size: 220%;
        margin: 60px 0 40px;
    }

    h1:first-child {
        margin-top: 12px;
    }

    em {
        font-style: normal;
        text-decoration: underline;
    }

    .button {
        margin-left: 0;
    }
}

a.button {
    display: inline-block;
    padding: 12px 34px;
    background-color: $brand-color;
    margin: 0px 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    box-sizing: border-box;
    text-align: center;

    transition: background-color 0.3s;

    @include button-font;
}

a.button:hover {
    background-color: $button-hover-color;
}


