$content-width: 960px;
$site-background: #f5f5f5;
$brand-color: #820f27;
$tint-color: rgba(227, 117, 0, 0.199);
$nav-background: $brand-color;
$body-text-tonedown: #424242;
$cta-text: #222;
$body-text: black;
$button-hover-color: #380711;
$cta-button-text: #fff;
$cta-button-color: #820f27;
$cta-button-hover-color: #380711;
$footer-link-color: #dddddd;
$footer-background: #928A84;
$resource-filter-background: #928A84;
$cta-background: #928A84;
$success-background: #0f6f00;
$error-background: #b7000e;
$success-link-color: #00ee00;
$error-link-color: #ff9999;
$responsive-breakpoint: 990px;
$lecturers-home-bg: #ddd;
$gutter: 15px;
