$content-width: 960px;
$site-background: #222;
$brand-color: #e37100;
$tint-color: rgba(227, 117, 0, 0.199);
$nav-background: $brand-color;
$body-text-tonedown: #ddd;
$cta-text: #eee;
$body-text: #eee;
$button-hover-color: #8F4F09;
$cta-button-text: #fff;
$cta-button-color: #e37100;
$cta-button-hover-color: #8f4f09;
$footer-link-color: #dddddd;
$footer-background: #111;
$resource-filter-background: #111;
$cta-background: #111;
$success-background: #0f6f00;
$error-background: #b7000e;
$success-link-color: #00ee00;
$error-link-color: #ff9999;
$responsive-breakpoint: 990px;
$lecturers-home-bg: #333;
$gutter: 15px;
