$site-background: #f5f5f5;
$brand-color: #C90A3A;
$nav-background: $brand-color;
$body-text-tonedown: #424242;
$cta-text: #ccc;
$body-text: black;
$button-hover-color: #8A0627;
$footer-link-color: #dddddd;
$footer-background: #291A1A;
$cta-background: #111;
$success-background: #0f6f00;
$error-background: #b7000e;
$success-link-color: #00ee00;
$error-link-color: #ff9999;
$responsive-breakpoint: 990px;
$gutter: 15px;
