$site-background: #f5f5f5;
$brand-color: #50a315;
$nav-background: $brand-color;
$body-text-tonedown: #424242;
$cta-text: #ccc;
$body-text: black;
$button-hover-color: #31660c;
$footer-link-color: #dddddd;
$footer-background: #081400;
$cta-background: $footer-background;
$success-background: #0f6f00;
$error-background: #b7000e;
$success-link-color: #00ee00;
$error-link-color: #ff9999;
$responsive-breakpoint: 990px;
$gutter: 15px;
