body#error {
    font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 140%;
    padding: 0 14px;
}

#error { 
    p {
        margin-top: 0;
        font-size: 90%;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 230%;
        font-weight: 300;
        margin: 1em 0;
    }

    h1 + p {
        margin-top: 60px;
    }

    p, pre {
        width: 100%;
        text-align: center;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    .debug {
        margin-top: 40px;
        font-size: 70%;
        color: red;
        font-family: monospace;
        text-align: left;
    }
}
