#error { 
    body {
        font-family: "Raleway", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
        font-weight: 300;
        font-size: 140%;
        padding: 0 14px;
    }

    p {
        margin-top: 0;
        font-size: 90%;
    }

    h1 {
        text-align: center;
        text-transform: uppercase;
        font-size: 230%;
        font-weight: 300;
    }

    h1 + p {
        margin-top: 60px;
    }

    p {
        width: 100%;
        text-align: center;
        max-width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    p:nth-child(3), p:nth-child(4) {
        padding-right: 20px;
        box-sizing: border-box;
        text-align: right;
    }

    p:nth-child(3) {
        margin-bottom: 0;
    }

    p:nth-child(4) {
        margin-top: 7px;
    }

    p:nth-child(4) {
    }

    p.debug {
        margin-top: 40px;
        font-size: 70%;
        color: red;
        font-family: monospace;
    }
}
