@font-face {
    font-family: "Raleway";
    src: url(/static/typefaces/Raleway-ExtraLight.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Raleway";
    src: url(/static/typefaces/Raleway-Medium.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Neo Sans";
    src: url(/static/typefaces/NeoSansPro-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Neo Sans";
    src: url(/static/typefaces/NeoSansPro-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "Neo Sans";
    src: url(/static/typefaces/NeoSansPro-Medium.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "FreeSans";
    src: url(/static/typefaces/FreeSans.ttf);
    font-weight: normal;
}

@font-face {
    font-family: "FreeSans";
    src: url(/static/typefaces/FreeSansBold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: "Garamond Premier Pro";
    src: url(/static/typefaces/Garamond-Italic.ttf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Garamond Premier Pro SC";
    src: url(/static/typefaces/Garamond-Regular-SC.ttf);
    font-weight: normal;
}

@mixin heading-font {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    font-weight: 200;
}

@mixin display-font {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
}

@mixin display-subtitle-font {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
}

@mixin cta-heading-font {
    font-family: "Neo Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 300;
}

@mixin body-font {
    font-family: "Neo Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
}

@mixin button-font {
    @include nav-font;
}

@mixin serif-font {
    font-family: "Garamond Premier Pro", "Garamond", "Times New Roman", serif;
    font-weight: normal;
    font-style: italic;
}

@mixin serif-font-sc {
    font-family: "Garamond Premier Pro", "Garamond", "Times New Roman", serif;
    font-weight: normal;
    font-style: normal;
}

@mixin nav-font {
    font-family: "Raleway", "Helvetica Neue", Arial, sans-serif;
    font-weight: normal;
}

@mixin title-body-font {
    font-family: "Neo Sans", "Helvetica Neue", Arial, sans-serif;
    font-weight: 600;
}

@mixin image-heading-font {
    @include nav-font;
}
