section#banner {
    background: transparent url(/static/images/banner-back.jpg);
    @include tint-image;
    
    box-sizing: border-box;

    padding: (500px - 270px) / 2 0px 65px;
    color: white;
    text-align: center;
    @include display-font;

    p, h1, h2, h3 { 
        margin: 0 auto;
        max-width: 960px;
    }

    p.duration {
        @include display-subtitle-font;

        text-transform: uppercase;
        font-size: 150%;
        letter-spacing: 4px;
    }

    h1 {
        text-transform: uppercase;
        font-size: 420%;
        letter-spacing: 4px;
        margin-top: 5px;
    }

    h2 {
        margin-top: 4px;
        letter-spacing: 1px;
        font-size: 200%;
    }

    h3 {
        margin-top: 105px;
        max-width: 680px;
        font-size: 140%;
        line-height: 1.3;
        @include body-font;
    }
}

section#cta {
    background-color: $cta-background;
    color: $cta-text;
    @include cta-heading-font;
    text-align: center;
    padding-top: 45px;

    h1, p {
        max-width: 960px;
        margin: 0 auto;
    }

    h1 {
        font-weight: 300;
        margin: 0 auto;
        font-size: 330%;
    }

    p {
        @include body-font;

        font-size: 110%;
        line-height: 150%;
        margin-top: 30px;
    }

    p:last-child {
        margin-top: 20px;
    }

    .button {
        background-color: $cta-button-color;
        color: $cta-button-text;
        &:hover {
            background-color: $cta-button-hover-color;
        }
        margin-top: 10px;
        margin-bottom: 40px;
        min-width: 250px;
    }

}

section#lecturers {

    > h1 {
        @include content-heading;
    }

    max-width: 960px;
    margin: 0 auto;
    text-align: center;

    $lecturers-spacing-x: 25px;
    $lecturers-spacing-y: $lecturers-spacing-x;
    $lecturers-per-row: 4;
    $lecturer-item-height: 430px;

    > ul {
        margin: 40px 0 0;
        @extend .group;
        list-style-type: none;
        padding: 0;

        > li {
            float: left;
            text-align: center;
            background-color: $lecturers-home-bg;
            min-height: $lecturer-item-height;
            box-sizing: border-box;
            padding: 27px 25px;
            margin-right: $lecturers-spacing-x;
            margin-bottom: $lecturers-spacing-y;
            width: (960px - ($lecturers-per-row - 1) * $lecturers-spacing-x) / $lecturers-per-row - 1px;
            position: relative;
            overflow: hidden;

            h2 {
                color: $brand-color;
                font-size: 160%;
                margin: 25px 0 0;
                @include title-body-font;
            }

            p.affiliation {
                color: $body-text-tonedown;
                font-size: 110%;
                margin: 12px 0 30px;
                line-height: 1.3;
                @include serif-font;
            }

            img {
                border-radius: 50%;
                width: 155px;
                height: auto;
            }

            aside {
                position: absolute;
                bottom: -$lecturer-item-height;
                left: 0;
                right: 0;
                height: $lecturer-item-height;
                background: $body-text-tonedown;
                transition: bottom 0.5s ease;
                color: #333;
                padding: 24px 24px;
                box-sizing: border-box;

                @include cta-heading-font;

               h3 {
                   text-transform: uppercase;
                   font-size: 220%;
                   margin: 0 0 17px;
                   @include body-font;
               }

                ul {
                    list-style-type: none;
                    padding: 0;

                    > li {
                        font-size: 110%;
                        line-height: 1.2;
                        margin-top: 25px;
                    }
                }

                .button {
                    position: absolute;
                    bottom: 25px;
                    left: 12px;
                    right: 12px;
                    box-sizing: border-box;
                    font-size: 80%;
                }
            }
        }

        > li:nth-child(4n) {
            margin-right: 0;
        }

        > li:hover {
            aside {
                bottom: 0;
            }
        }

    }

    > .button {
        font-size: 120%;
        min-width: 250px;
        margin: 45px - $lecturers-spacing-y 0 60px;
    }

}

