#lecturers, #lecturer {
    div.parallax-heading {
        background-image: url(/static/images/subjects-back.jpg);
    }

    article {
        @extend .group;

        details {
            @include heading-font;
            font-size: 120%;
            margin-bottom: 35px;
            display: block;
        }

        h1 {
            margin-bottom: 17px;
        }

        details + p {
            margin-top: 0;
        }

        p { 
            width: 735px;
            float: right;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        img {
            width: 195px;
            height: auto;
            margin: 0 30px 0 0;
        }
    }

    .content-body > ul {
        padding: 0;

        > li {
            text-align: left;
            @extend .group;

            list-style-type: none;
            box-sizing: border-box;
            margin-bottom: 20px;

            h1 {
                @include image-heading-font;
                padding-top: 30px;
                font-size: 175%;
                text-transform: uppercase;
                margin-bottom: 15px;
            }

            .affiliation {
                @include body-font;
                font-size: 100%;
                margin: 0;
            }

            .info {
                display: inline-block;
                width: 427px;
            }

            img {
                width: 195px;
                margin: 0 20px 0 0;
            }

            a, .info, .topics {
                vertical-align: top;
            }

            .topics {
                display: inline-block;
                background: white;
                color: $body-text-tonedown;
                width: 30%;
                min-height: 225px;
                box-sizing: border-box;
                padding: 0px 25px 20px;
                text-align: center;
                margin-left: 30px;

                ul, ul > li {
                    display: inline-block;
                }

                h2 {
                    font-size: 155%;
                    color: $brand-color;
                    margin: 25px 0 20px;
                }

                ul {
                    padding: 0;

                    > li {
                        background-color: transparent;
                        font-size: 95%;
                        margin-bottom: 10px;
                        line-height: 120%;
                    }
                }
            }
        }
    }
}
