#materials {
    main {
        text-align: center;

        div.parallax-heading {
            background-image: url(/static/images/materials-back.jpg)
        }
    }

    .tag {
        display: inline-block;
        padding: 0px 8px;
        border-radius: 5px;
        font-size: 70%;
        color: #333;
        margin-right: 6px;
        background-color: #C86F3F;
    }

    .tags {
        margin-top: 0px;
        margin-bottom: 10px;
    }
}
