header {
    h1 {
        @include hide-text;
        @include svg-fallback-background("/static/images/logotype.svg", "/static/images/logotype.png");
        @include retina-background-fallback("/static/images/logotype@2x.png");

        background-color: transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;

        width: 599px;
        height: 85px;

        margin: 22px auto 0px;
        position: relative;

        a {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
        }
    }

    nav {
        background-color: $nav-background;

        #hamburger-icon {
            display: none;
            height: 30px;
            width: 40px;
            margin: 0 auto;
            cursor: pointer;
            background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='40px' height='30px' viewBox='0 0 40 30' enable-background='new 0 0 40 30' xml:space='preserve'><rect style='fill:rgb(255, 255,255)' width='40' height='6'/><rect y='24' style='fill:rgb(255, 255,255)' width='40' height='6'/><rect style='fill:rgb(255, 255,255)' y='12' width='40' height='6'/></svg>");
            background-size: contain;
        }

        ul {
            padding: 0;
            margin: 22px 0px 0px;
            list-style-type: none;
            text-align: center;

            li {
                display: inline-block;

                a {
                    @include nav-font;

                    display: inline-block;
                    font-size: 95%;
                    padding: 17px 30px;
                    min-height: 52px;
                    color: white;
                    text-decoration: none;
                    text-transform: uppercase;
                    box-sizing: border-box;

                    transition: color 0.1s, background-color 0.1s;
                }

                a:hover {
                    background-color: $site-background;
                    color: $nav-background;
                    text-decoration: none;
                }
            }
        }
    }
}
