body {
    background: #222;
    color: white;
    padding: 10px;
    font-family: 'Inconsolata', monospace;
    font-size: 110%;
}

#employee_id, #password, #user {
    display: none;
}

.err {
    color: #ff5555;
}

.server {
    color: #6ba3ff;
}

.error p {
    font-family: 'Helvetica Neue', 'Helvetica', arial, sans-serif;
    color: #ff5555;
    a {
        color: #ff5555;
    }
}

.info {
    color: #00ff00;
}
.msg {
    color: white;
}
